@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

.header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0)), url('./assets/header_img.png');
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
}

.hideScrollBar::-webkit-scrollbar {
    display: none;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}