@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(255, 255, 255, 0)), url('./assets/header_img.png');
    min-height: 500px;
    width: 98%;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
  }  